/*
blue #080939
off-white #FCF9F9
lime green #88D317
dark grey #535353
black
*/

*,::before,::after {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}
div, h1, h2, h3, h4, h5, h6,
p, main, nav {
  margin: 0;
  padding: 0;
}
body{
  background-color: #FCF9F9;
  font-size: 1em;
  width: 100vw;
}
p{
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: justify;
  font-size: 1em;
}
main{
  margin-top: 15vmin;
  width: 80%;
  margin-left: 10%;;
  background-color: #FCF9F9;
  display: inline-block;
}

nav{
  height: 15vmin;
  width: 100%;
  background-color: #080939;
  color: #88D317;
  position: fixed;
}
a{
  color: #88D317;
}
i:before{
  font-family: FontAwesome;
}
h1{
  font-size: 3.5em;
}
h3{
  font-size: 1.3em;
}
.pitch{
  width: 100%;
  display: inline-block;
  margin-top: 5%;
}
.view{
  margin-top: 3%;
  width: 100%;
  height: 35vw;
  border: 5px solid #080939;
  border-radius: 10px;
  text-align: center;
}
.categories{
  display: flex;
  justify-content: space-between;
  width: 90%;
  zoom: 90%;
  margin: auto;
  margin-top: 1em;
  /*border: 1px solid black;*/
}
.small-view{
  width: 20%;
  min-height: 6em;
  border: 2px solid #080939;
  display: inline-block;
  border-radius: 5px;
  padding-top: 1em;
}
.view_h2{
  text-align: center;
  padding-bottom: 0.5em;
}
.skill_images{
  width: 60%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-top: 2%;
  max-width: 600px;
}
.skill_images > img{
  margin-left: 5%;
}
.small-view{
  text-align: center;
}
.external-links{
  display: inline-block;
  width: 50%;
  float: right;
  margin-top: 1vmin;
}
.external-links > div {
  width: 30%;
  display: inline-block;
  font-size: 1.3em;
  line-height: 2em;
}
.slogan{
  float: left;
  line-height: 6em;
  padding-left: 5%;
}
.skill_images{
  margin: auto;
}
.skill_images img{
  width: 18%;
}
.view{
  min-height: 400px;
  overflow-y: scroll;
}
.view p{
  width: 75%;
  margin: auto;
  text-align: justify;
}
.view h2{
  margin: 2%;
  font-size: 2em;
  border-bottom: 3px double black;
}
.view_h2.directions{
  position: relative;
  bottom: -1.5em;
  border-bottom: 0px;
}
#backbone, #angular{
  width: 35%;
  display: block;
  margin: 5% auto;

}
#ruby_img{
  width: 18%;
  padding: 1%;
}
#P1, #P2, #P3, #P4{
  display: none;
}
#placeholder{
  display: block;
  vertical-align: middle;
}
#P2 img{
  width: 50%;
  margin-bottom: 2em;
}
#P2 > div{
  width: 50%;
}

@media only screen and (max-width: 1100px) {
  .account{
    display: none;
  }
  .external-links > div {
    width: 10%;
    font-size: 2em;
    line-height: 2em;
    text-align: right;
  }
  .link{
    float: right;
  }
  .external-links{
    margin-right: 10%;
    max-width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .external-links{
    display: none;
  }
}
